public/admin.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>VK TEST</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css">
  </head>
  <body>
    <div class="allContent">
      <div class="allContent__content">
        <div class="admin">
          <div class="admin__forrmAccount">
            <!--.inputBlock-->
            <!--    label ID группы-->
            <!--    input(placeholder="input your id group")-->
            <!--.inputBlock-->
            <!--    label ваш ID-->
            <!--    input(placeholder="input your id")-->
            <button class="sendInfo getAll_js">Получить</button>
          </div>
          <div class="listInfo">
            <div class="listBlog">
              <div class="listBlog__block parent">
                <div class="listBlog__nameBlog">text</div>
                <div class="listBlog__type">
                  <div class="listBlog__typeInput radio">
                    <input type="radio" name="aboutus" id="parentAbout" data-val="-1" checked>
                    <label for="parentAbout">
                      <div></div>About US
                    </label>
                  </div>
                  <div class="listBlog__typeInput check">
                    <input type="checkbox" name="blog" id="parentCheck" value="blog">
                    <label for="parentCheck">
                      <div></div>Blog
                    </label>
                  </div>
                </div>
              </div>
              <div class="listBlog__blogs"></div>
            </div>
            <div class="listAlbom">
              <div class="listBlog__block parent"><img class="listBlog__img">
                <div class="listBlog__nameBlog">text</div>
                <div class="listBlog__type">
                  <div class="listBlog__typeInput radio">
                    <input type="radio" name="mainSlider" id="mains" data-val="-1" checked>
                    <label for="mains">
                      <div></div>Main Slider
                    </label>
                  </div>
                </div>
              </div>
              <div class="listBlog__blogs"></div>
            </div>
            <button class="sendInfo saveBlog__js">Сохранить</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <footer></footer>
  <script src="https://vk.com/js/api/openapi.js?152" type="text/javascript"></script>
  <script rel="script" src="script/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
  <script rel="script" src="script/mainJS.js"></script>
</html>

source/admin.pug
extends bloks/MainLayout.pug
block content
    .admin
        .admin__forrmAccount
            //.inputBlock
            //    label ID группы
            //    input(placeholder="input your id group")
            //.inputBlock
            //    label ваш ID
            //    input(placeholder="input your id")

            button.sendInfo.getAll_js Получить

        .listInfo
            .listBlog
                .listBlog__block.parent
                    .listBlog__nameBlog text

                    .listBlog__type
                        .listBlog__typeInput.radio
                            input(type='radio' name='aboutus' id='parentAbout' data-val="-1" checked)
                            label(for="parentAbout")
                                div
                                |About US
                        .listBlog__typeInput.check
                            input(type='checkbox' name='blog' id='parentCheck' value="blog")
                            label(for="parentCheck")
                                div
                                | Blog
                .listBlog__blogs

            .listAlbom
                .listBlog__block.parent
                    img.listBlog__img
                    .listBlog__nameBlog text

                    .listBlog__type
                        .listBlog__typeInput.radio
                            input(type='radio' name='mainSlider' id='mains' data-val="-1" checked)
                            label(for="mains")
                                div
                                |Main Slider
                .listBlog__blogs

            button.sendInfo.saveBlog__js Сохранить
